<section id="userForm">
    <h2>{{userNme}} Information</h2>
    <dl>
        <dt>Username: </dt>
        <dd>{{user.username}}</dd>
        <dt>Full Name: </dt>
        <dd>{{user.fullname}}</dd>
        <dt>About: </dt>
        <dd>{{user.about}}</dd>
        <dt>Email: </dt>
        <dd>{{user.email}}</dd>
    </dl>
    
</section>