<section id="search_form">
    <form id="search" method="POST">
        <p>Search for Cards</p>
        <p>
            <label for="name">Card Name: </label>
            <input name="name" id="name"  value="{{searchName}}" />
            <input name="search" type="submit" formaction="/cards/search" value="Search" />
        </p>
    </form>
</section>

<section id="cards">
    {{#if ../message}}
        <span><p>{{../message}}</p></span>
    {{/if}}
    <ol>
        {{#each cards}}
            <li>
                <article class="card">
                    <a href="/cards/{{this._id}}">{{this.name}}</a>
                    <p>{{this.effect}}</p>
                    {{#if ../myDecks}}
                        <form class="addToDeckQuery" method="POST">
                            <p>Add card to a deck.</p>
                            <select name="deckToAdd">
                                {{#each ../myDecks}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <input name="addToDeck" type="submit" formaction="/cards/add/{{this._id}}" value="Add to Deck" />
                        </form>

                    {{/if}}
                </article>


            </li>
        {{/each}}
    </ol>
</section>

<section id="page_navigation">
    <nav>
        <form id="page" method="POST">
            <input type="hidden" name="search" value="{{searchName}}" />
            <input name="prev" type="submit" formaction="/cards/prev" value="Prev" />
            <input name="pageNumber" type="text" value="{{pageNumber}}" />
            <input name="goToPage" type="submit" formaction="/cards/goto" value="Go To Page" />
            <input name="next" type="submit" formaction="/cards/next" value="Next" />
        </form>
    </nav>

</section>
