<section>
    <h2 value="Card Name">{{card.name}}</h2>
    <dl>
        <dt>Effect: </dt>
        <dd>{{card.effect}}</dd>
        <dt>Cost: </dt>
        <dd>{{card.cost}}</dd>
        <dt>Power: </dt>
        <dd>{{card.power}}</dd>
        <dt>Rarity: </dt>
        <dd>{{card.rarity}}</dd>
    </dl>

    {{#if myDecks}}
        <span>
            <form class="addToDeckQuery" method="POST">
                <select>
                    {{#each myDecks}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </form>>
        </span>
    {{/if}}
</section>