<section id="card_instance">
    <h2>{{card.name}}</h2>
    <img src="{{card.image}}" alt="{{card.name}} Visual Image used In Game" />
    <dl>
        <dt>Effect: </dt>
        <dd>{{card.effect}}</dd>
        <dt>Cost: </dt>
        <dd>{{card.cost}}</dd>
        <dt>Power: </dt>
        <dd>{{card.power}}</dd>
        <dt>Rarity: </dt>
        <dd>{{card.rarity}}</dd>
    </dl>

    {{#if myDecks}}
        <div>
            <form class="addToDeckQuery" method="POST">
                <p>Add this card to one of your decks!</p>
                <select>
                    {{#each myDecks}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <input name="addToDeck" type="submit" formaction="/cards/add/{{this._id}}" value="Add to Deck" />
            </form>
        </div>
    {{/if}}
</section>