<section>
    <h2 value="Card Name">{{name}}</h2>
    <dl>
        <dt>Effect: </dt>
        <dd>{{effect}}</dd>
        <dt>Cost: </dt>
        <dd>{{cost}}</dd>
        <dt>Power: </dt>
        <dd>{{power}}</dd>
        <dt>Rarity: </dt>
        <dd>{{rarity}}</dd>
    </dl>

    {{#if userName}}
    <!-- TODO: Add to Deck Option -->
    {{/if}}
</section>