<section id="search_form">
    <form id="search" method="POST">
        <p>Search for Decks</p>
        <p>
            <label for="name">Deck Name: </label>
            <input name="name" id="name"  value="{{searchName}}" />
            <input name="search" type="submit" formaction="/decks/search" value="Search" />
        </p>
    </form>
</section>

<section id="decks">
    <ol>
        {{#each decks}}
            <li>
                <article class="deck">
                    <p class="rating">Rating: {{this.rating}}</p>
                    <a href="/decks/{{this._id}}">{{this.name}}</a>
                    <p>{{this.description}}</p>
                </article>
            </li>
        {{/each}}
    </ol>
</section>

<section id="page_navigation">
    <nav>
        <form id="page" method="POST">
            <input type="hidden" name="search" value="{{searchName}}" />
            <input name="prev" type="submit" formaction="/decks/prev" value="Prev" />
            <input name="pageNumber" type="text" value="{{pageNumber}}" />
            <input name="goToPage" type="submit" formaction="/decks/goto" value="Go To Page" />
            <input name="next" type="submit" formaction="/decks/next" value="Next" />
        </form>
    </nav>

</section>
