<section>
    <div id="deckTitle">
        <h2>{{deck.name}}</h2>
        <dl>
            <dt>Owner: </dt>
            <dd>{{deck.ownerName}}</dd>
            <dt>Description: </dt>
            <dd>{{deck.description}}</dd>
            <dt>Rating: </dt>
            <dd>{{deck.rating}}</dd>
        </dl>
    </div>
    <div id="cards">
        <ol>
            {{#each deck.cards}}
            <li>
                <span id="card">
                    <a href="/cards/{{this._id}}/">{{this.name}}</a>    
                </span>
                {{#if ../canDelete}}
                <form method="POST" class="deleteCard">
                    <input name="deleteCard" type="submit" formaction="/decks/{{../deck._id}}/delete/{{this._id}}" value="Delete card" />
                </form>
                {{/if}}
            </li>
        {{/each}}
        </ol>
    </div>
    {{#if username}}
    <div id="votes">
        <form id="voteForm" method="POST">
            <input type="submit" name="action" formaction="/decks/{{deck._id}}/upvote" value="Upvote" />
            <input type="submit" name="action" formaction="/decks/{{deck._id}}/downvote" value="Downvote" />
        </form>
    </div>
    {{/if}}
    {{#if error}}
    <span id="error">{{error}}</span>
    {{/if}}
</section>
